/*Stylesheet*/

@charset "UTF-8";


html
{
  margin:0;
  padding:0;
  height:100%;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /*font-family:wingdings;*/

 
}


body
{
  margin:0;
  padding:0;
  background-repeat:repeat-x;
  background-color:black;
  min-height:100%;
}


p
{
  margin:0 0 0 2px;
  padding:0;
}

header
{
  margin:0;
  padding:0;


}


h1
{
  margin:50x;
  padding:0;
  color:white;
  text-align:center;

}


h2
{
  margin:0;
  padding:0;
  color:white;
  text-align:center;
  

}



h3
{
  position: relative;
  float:left;
  color:black=-\;;
  /*width:20%;*/
  font-size:12px;
  padding-top:10px;
  height:25px;
}

h3.one
{
margin-top:240px;
margin-left:20%;
}

h3.two
{
margin-top:80px;
margin-left:80%;
}

h3.three
{
margin-top:40px;
margin-left:20%;
}

h3.four
{
margin-top:0px;
margin-left:80%;
}

h3.five
{
margin-top:120px;
margin-left:20%;
}





h3:hover ~ p:nth-of-type(-n+1)
{
  display:block;
}

h3:hover ~ p:nth-of-type(-n+2)
{
  display:block;
}

h3:hover ~ p:nth-of-type(-n+3)
{
  display:block;
}

h3:hover ~ p:nth-of-type(-n+4)
{
  display:block;
}

h3:hover ~ p:nth-of-type(-n+5)
{
  display:block;
}



.wrapper
{
  font-size:5px;
  position:relative;
  bottom:-850px;
  text-decoration:none;
  text-align:center;
  color:black;
}

.wrapper a
{
  color:black;
}

.wrapper h3
{
  color:black;
}



footer
{
  margin:0;
  padding:0;
  position:relative;
  bottom:-750px;
  color:black;
  text-align:center;
}

footer a
{
  color:black;
}

/*div:hover
{
    visibility:visible;
}*/



@keyframes blinker {
 from {opacity:0;}  
  10% { opacity:.8;}
  20% { opacity:0;}
  100% { opacity:0;}
}

iframe
{
  display:block;
}

